html {
    background: #ffffff;
    border-top: 10px solid #323030;
  }
  
.header {
  margin-left: 20px;
  padding-top: 50px;
}

.header .logo {
  float: left;
}

 .header h1 {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: #413d3d;
    background: #fff;
 }

img {
  border-radius: 20px;
  border-radius: 20px;
  width: 100%;
  height: auto;
}


  body {
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
}

.picture {
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

      section {
        display: flex;
        flex-direction: row;
      }

      article {
        background-color: #e6e6e6;
        margin: 20px;
        padding: 20px;
        border-radius: 20px;
        line-height: 25px;
      }
      

      article:nth-of-type(1) {
        flex: 1
      }
      article:nth-of-type(2) {
        flex: 1
      }
