html {
    background: #ffffff;
    margin-top: 10px solid #323030;
  }
  
 .header {
    font-family: Arial, Helvetica, sans-serif;
    color: #323030;
    padding: 0px;
    background: #fff;
 }

img {
  border-radius: 10px;
  margin: 10px;
}

  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 100px;
    padding: 100px;
    background: #fff;
}


      section {
        display: flex;
        flex-direction: row;
      }

      article {
        background-color: #e6e6e6;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
      }
      

      article:nth-of-type(1) {
        flex: 1
      }
      article:nth-of-type(2) {
        flex: 1
      }

